*{
  width: auto;
  height: auto;
  box-sizing: border-box;
}



.bottom-sheet {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 0;
  margin-left: 25%;
  box-shadow: 0 10px 18px rgba(52, 87, 220, 0.18);
  border-radius: 7px;
  overflow: hidden;
  background-color: rgb(232, 226, 231);
  transform: translateY(0%);
  transition: transform 1s ease-in-out;
  z-index: 1000;
  color: rgb(9, 9, 9);
}

.bottom-sheet.closed {
    transition: transform 1s ease-in-out;
  height: 51px;
}

.bottom-sheet.half-open {
    transition: transform 1s ease-in-out;
  height: 50%;
}


.bottom-sheet.semi-half-open {
    transition: transform 1s ease-in-out;
  height: 25%;
}


.bottom-sheet.semi-fully-open {
    transition: transform 1s ease-in-out;
  height: 75%;
}

.bottom-sheet.fully-open {
    transition: transform 1s ease-in-out;
  height: 100%;
}

.uparrow:hover {
  cursor: pointer;
}
.handle {
  height: 20px;
}

h2{
  color:rgb(171, 46, 66);
 
  -webkit-text-stroke: 0.1vw blueviolet;
}
p{

font-weight: bold;
color: rgb(12, 4, 244);

}

button{
  padding: 10px 20px 10px 20px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  font-weight: bold;
}

/* For mobile view */
@media (max-width: 768px) {
.bottom-sheet {
  height: 60px; 
}

.content {
  /* width: 80%;  */
  text-align: center;
}


}

/* For tablet view */
@media (min-width: 769px) and (max-width: 1024px) {
.bottom-sheet {
  height: 70px; 
}

.content {
  /* width: 60%;  */
  text-align: center;
}


}